<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] [%mdc] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="org.apache.kafka" level="ERROR" />
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="state.change.logger" level="ERROR" />
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR"/>
    <logger name="com.yammer.metrics" level="ERROR"/>
    <logger name="kafka" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>