name: CI

on:
  push:
    branches:
      - zio1-main
      - zio2-main
      - main
      - master
  pull_request:
    types: [ opened, reopened, synchronize ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Setup Java
        uses: actions/setup-java@v3.9.0
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Lint code
        run: sbt check

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17' ]
        scala: [ '2.12.17', '2.13.10', '3.2.1' ]
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Setup Java
        uses: actions/setup-java@v3.9.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          check-latest: true
      - name: Run tests
        run: sbt ++${{ matrix.scala }}! test

  publish:
    runs-on: ubuntu-latest
    needs: [ lint, test ]
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Setup Java
        uses: actions/setup-java@v3.9.0
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Release artifacts
        run: sbt publish